.paymill_powered 
{
    border: 1px solid #ccc;
    width: 330px;
    height: 35px;
    padding: 4px;
    background: white url('../img/icon_paymill.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 15px;
    font-size: 10px;
}

.paymill_powered > .paymill_credits 
{
    width: 160px;
    color: #666;
}

.paymill_powered > a 
{
    color: #666;
    text-decoration: underline;
}

.form-row
{
    padding-bottom: 10px;
}

.form-row label
{
    padding-bottom: 4px;
}

.elv-logo
{
    padding-bottom: 7px;
    padding-top: 7px;
}

.form-row input
{
    width: 250px;
}

.card-expiry-month
{
    width: 155px;
}

.card-expiry-year
{
    width: 82px;
}

.payment-error
{
    padding: 2px 4px;
    margin: 0px;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: none;
    width: 250px;
}

.payment-error-checkout
{
    display: block;
    width: 500px;
    margin: 5px;
}

#payment-error-cc-4
{
    margin-top: 8px;
}

#payment-error-elv-3
{
    margin-top: 8px;
}

.card-icon
{
    margin-left: 5px;
}